@model IEnumerable<TestCSharp.Models.Causale>

@{
    ViewBag.Title = "Causali";
}

@*@section sectionScripts {

}*@

<h1>Causali</h1>
<p>
    <a href="/Causale/Create">Aggiungi nuova causale</a>
    <strong>Esporta elenco completo:</strong>
    <a href="/Export/CausaliJson" title="Esporta JSON">JSON</a>
    <a href="~/Export/CausaliCsv" title="Esporta CSV">CSV</a>
</p>
<hr />


<table class="dataTable">
    <tr>
        <th>
            ID
        </th>
        <th>
            Descrizione
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <strong>@Html.DisplayFor(modelItem => item.ID)</strong>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descrizione)
        </td>
        <td>
            <a href="~/Causale/Edit?ID=@item.ID&BackUrl=/Causale" title="Modifica">Modifica</a>
@if(item.Movimenti.Count == 0) {
            <a href="~/Causale/Delete?ID=@item.ID&BackUrl=/Causale" onclick="if(!confirm('Eliminare la causale?')) return false;" title="Elimina la causale">Elimina</a>
}
        </td>
    </tr>
}

</table>

