@model IEnumerable<TestCSharp.Models.Magazzino>

@{
    ViewBag.Title = "Magazzini";
}

@*@section sectionScripts {

}*@

<h1>Magazzini</h1>
<p>
    <a href="/Magazzino/Create">Aggiungi nuovo magazzino</a>
    <strong>Esporta elenco completo:</strong>
    <a href="/Export/MagazziniJson" title="Esporta JSON">JSON</a>
    <a href="~/Export/MagazziniCsv" title="Esporta CSV">CSV</a>
</p>
<hr />
<table class="dataTable">
    <tr>
        <th>
            ID
        </th>
        <th>
            Codice
        </th>
        <th>
            Descrizione
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <strong>@Html.DisplayFor(modelItem => item.ID)</strong>
        </td>
        <td>
            <strong>@Html.DisplayFor(modelItem => item.Codice)</strong>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descrizione)
        </td>
        <td>
            <a href="~/Magazzino/Edit?ID=@item.ID&BackUrl=/Magazzino" title="Modifica">Modifica</a>
@if (item.MovimentiP.Count == 0 && item.MovimentiD.Count == 0) {
            <a href="~/Magazzino/Delete?ID=@item.ID&BackUrl=/Magazzino" onclick="if(!confirm('Eliminare il magazzino?')) return false;" title="Elimina il magazzino">Elimina</a>
}
        </td>
    </tr>
}

</table>

