@model IEnumerable<TestCSharp.Models.Articolo>

@{
    ViewBag.Title = "Articoli";
}

@*@section sectionScripts {

}*@

<h1>Articoli</h1>
    <a href="/Articolo/Create"><div class="btn btn-small btn-white alignright"><i class="icon-plus"></i> Aggiungi nuovo articolo</div></a>


<table class="dataTable">
    <tr>
        <th>
            ID
        </th>
        <th>
            Codice
        </th>
        <th>
            Descrizione
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <strong>@Html.DisplayFor(modelItem => item.ID)</strong>
        </td>
        <td>
            <strong>@Html.DisplayFor(modelItem => item.Codice)</strong>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descrizione)
        </td>
        <td class="button-action xl">
            @*<a href="~/Articolo/Edit?ID=@item.ID&BackUrl=/Articolo" title="Modifica"><div class="btn btn-large btn-info"><i class="icon-search"></i></div></a>
            <a href="~/Articolo/Delete?ID=@item.ID&BackUrl=/Articolo" onclick="if(!confirm('Eliminare l'articolo?')) return false;" title="Elimina l'articolo"><div class="btn btn-large btn-danger"><i class="icon-remove"></i></div></a>*@
            <a href="~/Articolo/Edit?ID=@item.ID&BackUrl=/Articolo" title="Modifica">Modifica</a>
            <a href="~/Articolo/Delete?ID=@item.ID&BackUrl=/Articolo" onclick="if(!confirm('Eliminare l'articolo?')) return false;" title="Elimina l'articolo">Elimina</a>
        </td>
    </tr>
}

</table>

