@model IEnumerable<TestCSharp.Models.Articolo>

@{
    ViewBag.Title = "Articoli";
}

@*@section sectionScripts {

}*@

<h1>Articoli</h1>
<p>
    <a href="/Articolo/Create">Aggiungi nuovo articolo</a>
    <strong>Esporta elenco completo:</strong>
    <a href="/Export/ArticoliJson" title="Esporta JSON">JSON</a>
    <a href="~/Export/ArticoliCsv" title="Esporta CSV">CSV</a>
</p>
<hr />


<table class="dataTable">
    <tr>
        <th>
            ID
        </th>
        <th>
            Codice
        </th>
        <th>
            Descrizione
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <strong>@Html.DisplayFor(modelItem => item.ID)</strong>
        </td>
        <td>
            <strong>@Html.DisplayFor(modelItem => item.Codice)</strong>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descrizione)
        </td>
        <td>
            <a href="~/Articolo/Edit?ID=@item.ID&BackUrl=/Articolo" title="Modifica">Modifica</a>
            <a href="~/Movimento/Create?ArticoloID=@item.ID&BackUrl=/Articolo" title="Movimenta Articolo">Movimenta Articolo</a>
@if(item.Movimenti.Count > 0) {
            <strong>Esporta elenco completo:</strong>
            <a href="~/Export/MovimentiJson?ArticoloID=@item.ID&BackUrl=/Articolo" title="Esporta JSON">JSON</a>
            <a href="~/Export/MovimentiCsv?ArticoloID=@item.ID&CodiceArticolo=@item.Codice&BackUrl=/Articolo" title="Esporta CSV">CSV</a>
}
@if(item.Movimenti.Count == 0) {
            <a href="~/Articolo/Delete?ID=@item.ID&BackUrl=/Articolo" onclick="if(!confirm('Eliminare l'articolo?')) return false;" title="Elimina l'articolo">Elimina</a>
}
        </td>
    </tr>
}

</table>

